.position {
    &--static {
        position: static;
    }

    &--relative {
        position: relative;
    }

    &--fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }

    &--absolute {
        position: absolute;
    }

    &--sticky {
        position: -webkit-sticky;
        position: sticky;
        z-index: 0;
        width: auto;
    }

}