// -- variables for vds-design-system source of truth
//colors
$primary: #38b2ac;
$white: #ffffff;
$black: #333333;
$warning: #ED8936;
$info: #4299E1;
$gray: #76889f;
$error: #CC2800;
$transparent: transparent;


//font-styles
$fontFamilyStyle: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$baseFontSize: 1rem;
$baseFontWeight: 400;
$textColor: $black;