// -- variables for vds-design-system source of truth
//colors
$primary: #38b2ac;
$white: #ffffff;
$black: #333333;
$warning: #ed8936;
$info: #4299e1;
$gray: #76889f;
$error: #cc2800;
$transparent: transparent;

//font-styles
$fontFamilyStyle: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol';
$baseFontSize: 1rem;
$baseFontWeight: 400;
$textColor: $black;

//border-weight
$bor-hairline: 0.5px;
$bor-regular: 1px;
$bor-bold: 2px;
$bor-boldest: 2.5px;

//border-raidus
$radius-none: 0px;
$radius-small: 2px;
$radius-min: 4px;
$radius-huge: 15px;
$radius-max: 999px;

//shadow-spread
$shadow: 0.26;

//container-length
$default-container: 1240px;

//avatar size
$default-avatarSize: 32px;

//icon-size
$default-iconSize: 24px;
$icon-stroke: 2px;
$icon-line: round;

//forms input
$default-inputSize: 46px;